@charset "utf-8";
/* CSS Document */

body
	{
		font-family:"Swis721 Lt BT";
		background: url(Images/background1.jpg) no-repeat center;
		color:#333333;
	}
	
*
	{
		margin:0;
		padding:0;
		font-weight:normal;
	}
	
#header
	{
		width:100%;
		float:left;
		background:url(Images/top-line.jpg) repeat-x;
	}
	
#header_main
	{
		width:1000px;
		margin:0 auto;
	}
	
#top-strip
	{
		width:100%;
		float:left;
		background:url(Images/shade.jpg) repeat-x 0 5px;
	}
	
#logo
	{
		width:250px;
		height:70px;
		float:left;
		background:url(Images/logo.png) no-repeat center;
		margin:0 0 0 20px;
	}
	
#logo a
	{
		text-decoration:none;
		color:#333;
		line-height:70px;
		display:block;
		text-indent:-10000px;
	}

hr
	{
		border-top:1px #CCC solid;
		margin:10px 0 0 0;
	}

h1
	{
		color:#FF3300;
		font-size:28px;
	}
	
h3	
	{
		text-align:justify;
		padding:20px 0 20px 0;
		font-size:16px;
	}
	
p
	{
		font-size:14px;
		text-align:justify;
		padding:20px 0;
	}

#main
	{
		width:1002px;
		margin:0 auto;
	}
	
#mainFrame
	{
		width:1000px;
		float:left;
		background:#f0f0f0 url(Images/shade.jpg) repeat-x;
		border:1px #e3e3e3 solid;
	}
	
#mainBody
	{
		width:100%;
		float:left;
	}
	
#mainBody-left
	{
		width:30%;
		float:left;
	}
	
.mainBody-left-box
	{
		width:260px;
		float:left;
		margin:20px 20px 0 20px;
	}
	
.mainBody-left-main
	{
		width:100%;
		float:left;
	}
	
.mainBody-left-main-contact
	{
		width:240px;
		float:left;
		margin:0 0 0 20px;
	}
	
.mainBody-left-main-contact ul
	{
		list-style:none;
	}
	
.mainBody-left-main-contact ul li a,
.mainBody-left-main-contact ul li h3	
	{
		font-size:14px;
		text-align:justify;
		line-height:25px;
		padding:0 0 0 35px;
		margin:5px 0 5px 0;
		text-decoration:none;
		color:#333333;
		display:block;
	}
	
.mainBody-left-main-contact ul li a
	{
		background:url(Images/e-mail-2-icon.png) no-repeat;
	}
.mainBody-left-main-contact ul li h3
	{
		background:url(Images/phone-icon.png) no-repeat;
	}
	
.up
	{
		display:block;
		width:40px;
		height:40px;
		float:left;
	}
	
.up:hover
	{
		margin:-5px 0 0 0;
	}

	
.mainBody-left-nevigation
	{
		width:200px;
		margin:0 40px 0 20px;
		float:left;
		background:url(Images/shad.png) no-repeat bottom left;
		overflow:hidden;
	}
	
.mainBody-left-main h1
	{
		background:url(Images/strip-left.png);
		height:55px;
		line-height:40px;
		text-align:center;
	}
	
#mainBody-right
	{
		width:70%;
		float:left;
	}
	
#mainBody-header
	{
		width:680px;
		float:left;
		margin:20px 20px 20px 0;
	}
	
#mainBody-header img
	{
		float:left;
		border:2px #e3e3e3 solid;
		width:676px;
	}
	
.mainBody-header-shd
	{
		width:100%;
		height:21px;
		background:url(Images/right.png) no-repeat right top;
		float:left;
	}
	
.mainBody-boxx
	{
		width:100%;
		float:left;
		margin:0 0 20px 0;
	}
	
.boxx-left
	{
		width:95%;
		float:left;
		margin:0 10px 0 0;
	}
	
.boxx-left-img
	{
		width:100px;
		height:92px;
		margin:20px 0 0 10px;
		background:url(Images/boxx.png);
		float:left;
	}
	
.boxx-left-img:hover
	{
		margin-top:15px;	
	}
	
.boxx-left-img img
	{
		margin:2px;
		cursor:pointer;
	}
	
.boxx-right
	{
		width:200px;
		float:left;
		margin:0 20px;
	}
	
#footer
	{
		width:100%;
		float:left;
		margin:0 0 10px 0;
		border-top:1px #CCC solid;
	}	
	
#footer-menu
	{
		width:68%;
		float:left;
		margin:10px 0 0 2%;
	}
	
#footer-menu ul
	{
		list-style:none;
	}
	
#footer-menu ul li a
	{
		font-size:11px;
		padding:0 30px 0 0;
		display:block;
		line-height:20px;
		text-decoration:none;
		font-family:Tahoma, Geneva, sans-serif;
		color:#F30;
	}
	
#footer-menu ul li a:hover
	{
		text-decoration:underline;
	}
	
#footer-menu ul li
	{
		float:left;
	}
	
#footer-copy
	{
		width:27%;
		float:left;
		margin:10px 0 0 0;
	}
	
#footer-copy h1
	{
		font-size:11px;
		line-height:20px;
		text-align:right;
		padding:0 10px 0 0;
	}
	
#footer-right
	{
		width:12px;
		margin:10px 18px 0 0;
		height:20px;
		background:url(Images/icon.png) no-repeat;
		float:left;
	}

.btm
	{
		width:100%;
		float:left;
	}
	
.main-btm
	{
		width:1000px;
		height:21px;
		margin:0 auto;
		background:url(Images/btm.png) no-repeat;
	}
	
.boxx-right input[type="button"]
	{
		background:#1e8bcb;
		width:40px;
		height:18px;
		color:#FFF;
		font-size:11px;
		text-align:center;
		cursor:pointer;
	}
	
.boxx-right input[type="button"]:hover
	{
		background:#444a44;
	}
	
.boxx-right label
	{
		color:#a2a5a2;
		font-size:12px;
		padding:0 0 0 10px;
	}
	
.boxx-right p
	{
		padding:10px 20px 10px 0;
		color:#1e8bcb;
	}
		
/* Start Top Navigation */	

.navigation
	{
		width:730px;
		height:70px;
		float:left;
		overflow:hidden;
	}
     
.navigation ul
	{
		list-style:none;
		overflow:hidden;	
	}
	
.navigation ul li
	{
		float:right;
	}
	
.navigation ul li a
	{
		text-decoration:none;
		line-height:70px;
		display:block;
		font-size:15px;
		padding:0 15px;
		font-family:Verdana, Geneva, sans-serif;
		color:#F00;
	}
	
	
.navigation ul li.back
	{
     	border-top:5px solid #1e8bcb;
      	position:absolute;
 	}
	
.active
	{
		color:#000 !important;
		text-decoration:underline !important;
	}
                    
/* End Top Navigation */		
		
		
/* Start Side Navigation */

#sliding-navigation-top
	{
		width:200px;
		margin:-25px 40px 0 20px;
		float:left;
		background:url(Images/shad.png) no-repeat top left;
		overflow:hidden;
		height:50px;
	}

ul#sliding-navigation
	{
		list-style: none;
		font-size: 12px;
		padding: 0;
		margin:0 0 50px 0;
	}

ul#sliding-navigation li.sliding-element a
	{
		display: block;
		width: 150px;
		padding: 5px 18px;
		margin: 0;
		margin-bottom: 5px;
	}

ul#sliding-navigation li.sliding-element a
	{
		color: #FFF;
		background:#1e8bcb url(Images/shad.png) repeat-y center left;
		text-decoration: none;
	}

ul#sliding-navigation li.sliding-element a:hover { color: #f8941d; background:#333333 url(Images/shad.png) repeat-y center left; }

/* End Side Navigation */

#w3c
	{
		position:fixed;
		right:0;
		bottom:0;
		z-index:-10;
	}